<header class='container-fluid'>
  <know-header-button text='View' classes='left' current-state='vmViewCards.stateName' route-to='viewSets'></know-header-button>
  <div class='h1 wide-title text-center'>{{vmViewCards.setTitle}}</div>
  <button class='btn btn-link right no-padding' style='width: 24%; font-size: 44px; margin-top: -30px;' ng-click='vmViewCards.randomize()'>Randomize</button>
</header>

<div class='view-card'>
  <div class='col col-12 text-left h2 gray-color no-margin'>
    {{vmViewCards.side | uppercase}}:
  </div>
  <div class='col col-12 view-card-content'>
    {{vmViewCards.cards[vmViewCards.cardIndex][vmViewCards.side]}}
  </div>
</div>

<div class='flip-next-container text-center'>
  <button class='btn btn-link blue-color btn-lg' ng-click='vmViewCards.flip()'>Flip</button>
  <button class='btn btn-link green-color btn-lg' ng-click='vmViewCards.next()' ng-disabled='vmViewCards.cards.length == 1'>Next</button>
</div>