<header class='container-fluid'>
  <button class='btn btn-link left no-padding' style='width: 25%; font-size: 44px; margin-top: -30px;' ng-click='vmEditSet.save(vmEditSet.set)'>Save</button>
  <div class='h1 wide-title text-center'>{{vmEditSet.setTitle}}</div>
  <button class='btn btn-link right no-padding' style='width: 24%; font-size: 44px; margin-top: -30px;' ng-click='vmEditSet.deleteSet(vmEditSet.setTitle)'>Delete</button>
</header>

<div class='container-fluid'>
<div class='edit-card' ng-repeat='card in vmEditSet.set.cards'>
  <div class=''>
    <i class='fa fa-close float-right' ng-click='vmEditSet.deleteCard($index)'></i>
    <textarea class='text-center full-width no-resize' rows='3' placeholder='Question' ng-model='card.question'></textarea>
    <br>
    <textarea class='text-center full-width no-resize' rows='3' placeholder='Answer' ng-model='card.answer'></textarea>
  </div>
</div>
</div>

<footer class='row'>
  <div class='col col-12 text-center'>
    <button id='new-card' class='btn btn-link btn-positive button-font text-center' ng-click='vmEditSet.makeNewCard()'>
      New Card
    </button>
  </div>
</footer>