<div class='bar bar-header'>
  <know-header-button text='View' current-state='vmViewCards.stateName' route-to='viewSets'></know-header-button>
  <div class='h1 title'>{{vmViewCards.setTitle}}</div>
  <button class='button button-clear button-dark' ng-click='vmViewCards.randomize()'>Randomize</button>
</div>

<div class='view-card'>
  <div class='col col-100 text-left h5 gray-color no-margin'>
    {{vmViewCards.side | uppercase}}:
  </div>
  <div class='col col-100 view-card-content'>
    {{vmViewCards.cards[vmViewCards.cardIndex][vmViewCards.side]}}
  </div>
</div>

<div class='col col-100 flip-next-container text-center'>
  <button class='button button-clear button-positive button-large' ng-click='vmViewCards.flip()'>Flip</button>
  <button class='button button-clear button-balanced button-large' ng-click='vmViewCards.next()' ng-disabled='vmViewCards.cards.length == 1'>Next</button>
</div>