<header class='container-fluid'>
  <know-header-button classes='underlined left' text='View' current-state='vmViewSets.stateName' route-to='viewSets'></know-header-button>
  <div class='h1 title text-center' ui-sref='home'>know</div>
  <know-header-button classes='right' text='Add' current-state='vmViewSets.stateName' route-to='createSet'></know-header-button>
</header>

<ul>
  <li ng-repeat='(setTitle, data) in vmViewSets.sets'>
    <div style='height: 3em;' class='inline-block edit-button col col-xs-1' style='font-size: 40px;' ui-sref='editSet({setTitle: setTitle})'>
      <i class='fa fa-pencil'></i>
    </div>
    <div class='inline col col-xs-11' ui-sref='viewCards({setTitle: setTitle})'>
      <div style='height: 1.5em;'>
        <div class='inline list-set-title'>{{setTitle}}</div>
        <div class='inline float-right'>{{data.cards.length}}</div>
      </div>
      <div style='height: 1.5em;'>
        <div class='inline tags' ng-repeat='tag in data.tags'>-{{tag}}-</div>
      </div>
    </div>
  </li>
</ul>